
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Secured Page</title>
    <style>
        img{width: 100px;
            height: 100px}
    </style>
</head>
<body>
<h1> Page for adding contacts to your account </h1>
<h3>You got in as <p th:text="${className}"></p>
    <!--<p th:text="${username}"></p>-->
    <p th:text="${name}"></p>
</h3>


<h2>Add a new contact to your contact list and press the button- Show all contacts: </h2>


<h1> Adding a new contact</h1>

<form id="saveContact">

    <div><label> Class Name : <input id="className" type="text" name="className" th:value="${className}"/> </label></div>
    <div><label> User Login: <input id="username" type="text" name="username" th:value="${username}"/> </label></div>
    <div><label> Contact name: <input id="contactName" type="text" name="contactName" placeholder="contactName"/> </label></div>
    <div><label> Contact email: <input id="email" type="email" name="email" placeholder="email"/> </label></div>
    <div><label> Contact avatar: <input id="image" type="file" name="image" placeholder="image"/> </label></div>

</form>

<div>
    <button id="btn">Save</button>
    <button id="btn1">Show all Contacts </button>

</div>

<div class="target">The list of Contacts</div>

<h2> To logout : </h2>
<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Log out"/>
</form>

<h1>Delete your account with all contacts:</h1>
<button id="deleteBtn" th:value="${username}">DELETE ACCOUNT</button>
<h2 id="representer"></h2>

<script>
    $('#btn').click(function () {
        $.ajax({
            url:'/saveContact',
            type:'POST',
            data: new FormData($('#saveContact')[0]),
            processData: false,
            contentType: false,
            cache: false
        });
    });
    $('#btn1').click(function (){
        $('.target').empty();
        $.ajax({
            url:'/showContact',
            type:'POST',
            data: new FormData($('#saveContact')[0]),
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            cache: false,
            success: function (results) {
                console.log(results);
                for(const contact of results){
                    let data = `${contact.id} ${'. '} ${contact.contactName} ${', '} ${contact.email} ${', '} ${contact.avatar}`;

                    let $div = $('<div/>', {class: 'xxx', text: data});
                    let $image = $('<img />', {src: 'ava/'+contact.avatar});
                    $('.target').append($div);
                    $('.target').append($image);
                }
            }
        });
    });

    $('#deleteBtn').click(function () {
        var $username =$('#deleteBtn').val();
        $("#representer").empty();

        let user = {username:$username, password:''};
        $.ajax({
            url:'/deleteAccount',
            type:'POST',
            contentType:'application/json',
            data:JSON.stringify(user),

            success: function (results) {

                let $div= $('<div/>', {
                    text: 'RESULT on deleting-  '+ results
                });
                $("#representer").append($div);


            },
            error: function (err) {
                console.log('error: '+err);
            }
        });
    });

</script>

</body>
</html>